{% extends "admin/change_list.html" %}

{% block extrahead %}
    {{ block.super }}
    <style>
        .upload-form {
            margin-bottom: 30px;
            text-align: center;
        }
        .file-label {
            background-color: #007bff;
            color: #fff;
            padding: 4px 8px;
            border-radius: 3px;
            cursor: pointer;
            transition: background-color 0.3s;
            display: inline-block;
            font-size: 10px;
        }
        .file-label:hover {
            background-color: #0056b3;
        }
        .file-input {
            display: none;
        }
        .file-span {
            display: block;
            margin-top: 8px;
            font-size: 10px;
        }
        .upload-button {
            background-color: #007bff;
            color: #fff;
            padding: 4px 8px;
            border: none;
            border-radius: 3px;
            cursor: pointer;
            margin-top: 8px;
            transition: background-color 0.3s;
            font-size: 10px;
        }
        .upload-button:hover {
            background-color: #0056b3;
        }
    </style>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const fileInput = document.getElementById("excel_file");
            const fileSpan = document.querySelector(".file-span");
            fileInput.addEventListener("change", function() {
                const fileName = this.value.split("\\").pop(); // Get the filename from the input
                if (fileName && !fileName.endsWith(".xls") && !fileName.endsWith(".xlsx")) {
                    alert("Please select a valid Excel file.");
                    this.value = ""; // Clear the file input
                    fileSpan.textContent = "No file chosen";
                } else {
                    fileSpan.textContent = fileName;
                }
            });
        });
    </script>
{% endblock %}
{% block object-tools-items %}
    {{ block.super }}
    <li>
        <form class="upload-form" action="{% url 'admin:upload_excel' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="excel_file" class="file-label">Choose Excel File</label>
            <input type="file" id="excel_file" name="excel_file" class="file-input" accept=".xlsx">
            <span class="file-span">No file chosen</span>
            <button type="submit" class="upload-button">Upload</button>
        </form>
    </li>
{% endblock %}
